PrinterFeedsTest/Web References/FLSService/FLSSolution.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckNewToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userSmartCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckNewTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckNewTokenResult" type="tns:TokenResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TokenResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:Response">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="token" type="tns:CHECK_WEBTOKEN" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Successful" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CHECK_WEBTOKEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EncyptedToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfrequest" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HashedToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmartCardID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HashedSmartCardID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertEncryptedToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webToken" type="tns:CHECK_WEBTOKEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEncryptedTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertEncryptedTokenResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSmartCardID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="smartCardID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSmartCardIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertSmartCardIDResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInsertedTokenStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInsertedTokenStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInsertedTokenStatusResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserExistsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LatestPrinterFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="printerUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="printerSerialNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ribbonCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="noOfCardsPrinted" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="printerOnline" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LatestPrinterFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LatestPrinterFeedsResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckNewTokenSoapIn">
    <wsdl:part name="parameters" element="tns:CheckNewToken" />
  </wsdl:message>
  <wsdl:message name="CheckNewTokenSoapOut">
    <wsdl:part name="parameters" element="tns:CheckNewTokenResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEncryptedTokenSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEncryptedToken" />
  </wsdl:message>
  <wsdl:message name="InsertEncryptedTokenSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEncryptedTokenResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSmartCardIDSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSmartCardID" />
  </wsdl:message>
  <wsdl:message name="InsertSmartCardIDSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSmartCardIDResponse" />
  </wsdl:message>
  <wsdl:message name="CheckInsertedTokenStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckInsertedTokenStatus" />
  </wsdl:message>
  <wsdl:message name="CheckInsertedTokenStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInsertedTokenStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UserExistsSoapIn">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="UserExistsSoapOut">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="LatestPrinterFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:LatestPrinterFeeds" />
  </wsdl:message>
  <wsdl:message name="LatestPrinterFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:LatestPrinterFeedsResponse" />
  </wsdl:message>
  <wsdl:portType name="FLSSolutionSoap">
    <wsdl:operation name="CheckNewToken">
      <wsdl:input message="tns:CheckNewTokenSoapIn" />
      <wsdl:output message="tns:CheckNewTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEncryptedToken">
      <wsdl:input message="tns:InsertEncryptedTokenSoapIn" />
      <wsdl:output message="tns:InsertEncryptedTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSmartCardID">
      <wsdl:input message="tns:InsertSmartCardIDSoapIn" />
      <wsdl:output message="tns:InsertSmartCardIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckInsertedTokenStatus">
      <wsdl:input message="tns:CheckInsertedTokenStatusSoapIn" />
      <wsdl:output message="tns:CheckInsertedTokenStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input message="tns:UserExistsSoapIn" />
      <wsdl:output message="tns:UserExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LatestPrinterFeeds">
      <wsdl:input message="tns:LatestPrinterFeedsSoapIn" />
      <wsdl:output message="tns:LatestPrinterFeedsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FLSSolutionSoap" type="tns:FLSSolutionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckNewToken">
      <soap:operation soapAction="http://tempuri.org/CheckNewToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEncryptedToken">
      <soap:operation soapAction="http://tempuri.org/InsertEncryptedToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSmartCardID">
      <soap:operation soapAction="http://tempuri.org/InsertSmartCardID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInsertedTokenStatus">
      <soap:operation soapAction="http://tempuri.org/CheckInsertedTokenStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LatestPrinterFeeds">
      <soap:operation soapAction="http://tempuri.org/LatestPrinterFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FLSSolutionSoap12" type="tns:FLSSolutionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckNewToken">
      <soap12:operation soapAction="http://tempuri.org/CheckNewToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEncryptedToken">
      <soap12:operation soapAction="http://tempuri.org/InsertEncryptedToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSmartCardID">
      <soap12:operation soapAction="http://tempuri.org/InsertSmartCardID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInsertedTokenStatus">
      <soap12:operation soapAction="http://tempuri.org/CheckInsertedTokenStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap12:operation soapAction="http://tempuri.org/UserExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LatestPrinterFeeds">
      <soap12:operation soapAction="http://tempuri.org/LatestPrinterFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FLSSolution">
    <wsdl:port name="FLSSolutionSoap" binding="tns:FLSSolutionSoap">
      <soap:address location="http://localhost/PrinterMonitor/FLSSolution.asmx" />
    </wsdl:port>
    <wsdl:port name="FLSSolutionSoap12" binding="tns:FLSSolutionSoap12">
      <soap12:address location="http://localhost/PrinterMonitor/FLSSolution.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>